* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #eaeaea;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
}

.logo {
    position: fixed;
    top: 0;
    left: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navlinks {
    position: fixed;
    top: 0;
    right: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navlinks a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: color 0.5s ease-in-out;
}

.navlinks a:hover {
    color: cadetblue;
}

.main-content {
    width: 90%;
    margin: 10px auto 0;
}

/* Container for 3 columns */
.page-wrapper {
    display: flex;
    height: 60vh;              /* 👈 this creates top & bottom space */
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Sections */
.program-layout,
.code-board,
.community {
    padding: 20px;
}

/* Width control */
.program-layout {
    width: 20%;
    background: #f4f4f4;
}

.code-board {
    width: 60%;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.community {
    width: 20%;
    background: #f4f4f4;
}

/* Links */
.program-layout a {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: color 0.6s ease-in-out;
}

.program-layout a:hover {
    color: cadetblue;
}

.community a {
    display: block;
    margin-top: 50px;
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: color 0.6s ease-in-out;
}

.community a:hover {
    color: cadetblue;
}

.program-layout h3 {
    text-align: center;
    margin-top: 50px;
}

.community h3 {
    text-align: center;
    margin-top: 180px;
}

.code-board h2 {
    text-align: center;
    margin-top: 200px;
}

.friends-community {
    margin-top: 20px;
    text-align: center;
}

.friends-community a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    transition: color 0.6s ease-in-out;
}

.friends-community a:hover {
    color: cadetblue;
}